/** RESET **/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** LAYOUT **/

@font-face {
	font-family:'BEATANDBEER';
	src: url('fonts/BEATANDBEER.eot');
	src: url('fonts/BEATANDBEER.eot?#iefix') format('embedded-opentype'),
	url('fonts/BEATANDBEER.woff') format('woff'),
	url('fonts/BEATANDBEER.ttf') format('truetype'),
	url('fonts/BEATANDBEER.svg#BEATANDBEER-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-20AC;
}

html,body{
	width:100%;
	height: 100%;
	font-family: 'BEATANDBEER', sans;
}


#bandeau{
	position: fixed;
    margin-top: 0;
    margin-left: 0;
	height: 80px;
	width: 100%;
	font-size:40px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
    z-index: 1000;
}

#bandeau span{
	position: absolute;
	width: 80px;
	height: 80px;
	line-height: 80px;
	vertical-align:center;
	text-align: center;
	font-size:40px;
}

#bandeau #menu{
	position: absolute;
	top:100px;
	left: 20px;
}

#bandeau #menu_informations{
	position: absolute;
	top:100px;
	left: 20px;
}

#menu_informations a:active{
    color:blue;
}

#btn_menu{
    font-family: 'Karla';
}

#btn_menu a{
    color:black;
    text-decoration: none;
}

#btn_menu:hover{
    cursor: pointer;
    color: orangered;
}

#btn_menu:active{
    color: blue;
}

#btn_menu a:hover{
    cursor: pointer;
    color: orangered;
}

#btn_menu a:active{
    color: blue;
}

#bandeau #infos{
	height: 100%;
	margin-left: 100px;
	margin-right: 80px;
	display: flex;
	justify-content:space-between;
	align-content: stretch;
}

#bandeau #infos:hover{
    cursor: default;
}

#bandeau #infos p{
	display: block;
	vertical-align:center;
	line-height: 80px;
}

#play{
	position: fixed;
	bottom: 20px;
	left: 20px;
	font-size: 40px;
}

#play:hover{
    cursor: pointer;
    color: orangered;
}

#play:active{
    color: blue;
}

#content{
	margin-top: 80px;
    position: fixed;
    overflow-y: scroll;
    max-height: calc(100% - 80px);
    width: 100%;
}

/** ACCUEIL **/

#accueil{
	font-size: 160px;
    line-height: 160px;
	max-width:900px;
	margin-left: 0;
	padding-top:40px;
    padding-left:220px;
}

#accueil sup{
	font-size: 70px;
	position: relative;
	bottom: 60px;
    padding-left: 20px;
}

li a{
    outline:none;
    text-decoration: none;
    color:black;
}

a:hover{
    color: orangered;
}

a:active{
    color: blue;
}


/** ARTISTE **/ 

.artiste{
	max-width:900px;
	margin: auto;
}

.artiste h1{
	font-size: 120px;
	margin-left: 40px;
    line-height:100px;
    margin-top:40px;
}

.artiste .boites{
	display: flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.artiste .boite{
	width: calc(50% - 20px);
	box-sizing: border-box;
}

.artiste .liens{
	display: flex;
	justify-content:space-between;
	font-size: 40px;
	padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;
	order: 1;
}

.boites ul{
		flex-wrap:wrap;
    align-content: stretch;
}

.boites li{
    padding-right: 5px;
}

.artiste .presentation{
	margin-top: 10px;
	order: 3;
    font-family: 'Karla', sans-serif;

}
.artiste .presentation p{
	font-size: 20px;
}

.artiste .ecouter{
	order: 2;
	font-size: 40px;
    margin-top: 10px;
}

.artiste .image{
    margin-top: 10px;
	order: 4;
}

.artiste .image img{
	max-width: 100%;
	height: auto;
}

/** TEXTE **/ 

.texte{
	max-width:900px;
	margin: auto;
	font-size: 30px;
    padding-left:200px;
    padding-bottom: 400px;
}

.texte h2,
.texte p{
	width: 50%;
}

.texte p{
    font-family: 'Karla';
    font-size: 20px;
    padding-bottom: 20px;
}

.texte h2{
	font-size: 60px;
    display:none;
}

.texte h1{
    padding-bottom: 10px;
    font-size: 40px;
}

.texte span{
    font-family: 'Karla';
    font-size: 20px;
    font-weight: 700;
}

#infospratiques, #leprojet, #partenaires, #contact, #actualites, #programme{
    padding-top: 20px;
}

.texte img{
	max-width: 100%;
	height: auto;
	float: right;
	margin-right: -100%;
    padding-left:20px;
}

@media screen and (max-width: 1100px) {
	#bandeau{
		font-size:30px;
	}
    
    #content{
        padding-left: 10px;
        padding-right: 10px;
    }
    
    #accueil{
        font-size: 120px;
        line-height: 120px;
        padding-left: 0;
        max-width: 700px;
        padding-left: 160px;
    }
    
    #accueil sup{
        font-size: 60px;
        bottom: 40px;
        padding-left: 5px;
    }
    
    .texte{
        padding-left:150px;
    }
}

@media screen and (max-width: 900px) {
	#bandeau{
		font-size:20px;
	}
    
    #accueil{
        font-size: 100px;
        line-height: 100px;
        max-width: 600px;
        padding-left:120px;
    }
    
    #accueil sup{
        font-size: 50px;
        bottom: 35px;
    }
    
    .texte{
        padding-left:110px;
    }

}
   

@media screen and (max-width: 750px) {
    .artiste .liens{
        display: block;
        padding-left:40px;
    }
}

@media screen and (max-width: 680px) {
    #accueil{
        font-size: 90px;
        line-height: 90px;
        padding-left: 0;
    }
    
    #accueil sup{
        font-size: 45px;
        bottom: 30px;
        padding-left: 5px;
    }
    
    #play{
        display:none;
    }
    
    #bandeau #menu{
        background: white;
        font-size: 40px;
        top:120px;
        left: 0;
        padding-left: 20px;
        padding-right: 20px;
	    padding-top: 40px;
	    padding-bottom: 40px;
    }

}

@media screen and (max-width: 600px) {

	#bandeau #infos{
		flex-wrap:wrap;
		justify-content:center;
	}
    
    #bandeau{
        height:auto;
	}

	#bandeau #infos p{
		display: block:
		vertical-align:center;
		line-height: 40px;
		text-align: center;
		margin: 0 10px;
	}
    
    #bandeau #menu_informations{
        display:none;
    }

	.artiste .boite{
		width: 100%;
		box-sizing: border-box;
	}
    
    #accueil{
        padding-left: 0;
    }
    
    .texte{
        padding-left:0;
    }
    
    .texte img{
        padding-left:0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .artiste h1{
        text-align:center;
    }

	.artiste .liens{
		order: 1;
        padding-left: 0;
        padding-right: 0;
        display: flex;
	}

	.artiste .presentation{
		order: 4;
	}

	.artiste .ecouter{
		order: 3;
        text-align: center;
	}

	.artiste .image{
		order: 2;
	}


	.texte h2,
	.texte p{
		width: 100%;
	}

	.texte h2{
		font-size: 60px;
        display:block;
	}

	.texte img{
		float: none;
		margin-right: 0;
	}

}

@media screen and (max-width: 500px) {
    #bandeau #infos{
        margin-left: 70px;
        margin-right: 20px;
    }
}

